@import '../../vars.css';

.wrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.item {
    display: flex;
    padding: 15px;
    border-radius:17px;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    background: var(--back-color);
    height: 40vh;
    width: 50vw;
    box-shadow: var(--box-shadow);
}
.petImage {
    border-radius:17px;
    object-fit: cover;
    height: 100% ;
    width: 33%;
}
.textBlock {
    display: flex;
    gap: 50px;
}
.address_image {
    width: 20px;
    height: 20px;
}
.blockTitle {
    font-size: 15px;
}