.wrap {
    display: flex;
    flex-direction: column;
}
.p {
    color: #000;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 16px;
}
.input {
    height: 35px;
    background: #E4E4E4;
    border: none;
    border-radius: 13px;
    padding: 0 20px;
}
.input:focus {
    outline: none !important;
}