.itemslist {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    transition: all .3s ease;
}

@media screen and (max-width: 1320px) {
  .itemslist {
    grid-template-columns: repeat(2,1fr) !important;
  }
}
@media screen and (max-width: 780px) {
  .itemslist {
    grid-template-columns: repeat(1,1fr) !important;
  }
}