.modalWrap {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25%;
    gap: 20px;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 14px 62px 12px rgba(0,0,0,0.1);
    border-radius:17px ;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    animation: show-popup .3s forwards;
}
.button_block {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.modal_back {
    position:fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}

.input {
    height: 35px;
    background: #E4E4E4;
    border: none;
    border-radius: 13px;
    padding: 0 20px;
    
}
.input:focus {
    outline: none !important;
}
.p {
    color: #000;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 16px;
    margin-top: 0;
}
.masked_input{
    display: flex;
    flex-direction: column;
}
.closeModal button,.closeModal button img {
    width: 40px;
    height: 40px;
}
.closeModal button {
    background: none;
    border: none;
    cursor: pointer;
}
.closeModal {
    position: absolute;
    top: 1px;
    right: 10px;
}
.spacing {
    height: 5px;
}

@keyframes show-popup {
	0% {
		transform: translate(-50%, -50%)
		scale(.7);

		opacity: 0;
	}
	45% {
		transform: translate(-50%, -50%)
		scale(1);

		opacity: 1;
	}
	100% {
		transform: translate(-50%, -50%)
	}
}

@media screen and (max-width: 1320px) {
    .modalWrap {
        width: 70%;
    }
}