@import '../../vars.css';

.item {
  display: flex;
  max-height: 250px;
  padding: 5px;
  gap: 20px;
  width: 100%;
  background-color: var(--back-color);
  border-radius:17px ;
  box-shadow: var(--box-shadow);
  transition: all .3s ease;
  cursor: pointer;
}
.locIcon {
  width: 20px;
  height: 20px;
}
.item:hover {
  box-shadow: var(--box-shadow-hover);
}
.item p {
  font-weight: 400;
}
.image {
  border-radius:17px;
  object-fit: cover;
  height: 100% ;
  width: 33%;
}
.type {
  padding: 2px;
  width: 40%;
  text-align: center;
  border-radius:20px ;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buttons {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

@media screen and (max-width:748px)  {
  .item {
    flex-direction: column;
  }
}
