@import '../../vars.css';

.wrap {
    background: var(--back-color);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 40vh;
    padding: 79px 57px;
    margin: 60px;
}
.auth {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.link {
    font-weight: 400;
    font-size: 16px;
    color: var(--primary-color);
    transition: color .3s ease;
}
.link:hover {
    color: var(--primary-color-hover);
}
.buttons {
    display: flex;
    gap: 17px;
    align-items: center;
}