@import '../../../vars.css';

.button-style {
    border: 1px solid transparent;
    border-radius: 17px;
    font-family: inherit;
    background-color: var(--primary-color);
    color: var(--back-color);
    cursor: pointer;
    transition: all .3s ease;
}
.button-default {
    padding: 10px 27px;
    font-size: 20px;
    font-weight: 500;
}
.button-small {
    padding: 5px 40px;
    font-size: 16px;
    font-weight: 400;
}
.button-style:hover {
    color: var(--back-color);
    background-color: var(--primary-color-hover);
}
.center {
    text-align: center;
}

.button-red {
    background-color:  var(--red-button) !important;
}
.button-red:hover {
    background-color:  var(--red-button-hover) !important;
}
  