.button-style {
    border: 1px solid transparent;
    border-radius: 17px;
    font-family: inherit;
    background-color: #4565FF;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease;
}
.button-default {
    padding: 10px 27px;
    font-size: 20px;
    font-weight: 500;
}
.button-small {
    padding: 5px 40px;
    font-size: 16px;
    font-weight: 400;
}
.button-style:hover {
    color: #fff;
    background-color: #2c4ffa;
}
.center {
    text-align: center;
}

.button-red {
    background-color:  #ff2727 !important;
}
.button-red:hover {
    background-color:  #e21111 !important;
}
  