.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 44px;
}
.about {
    padding: 59px 38px;
    color: #fff;
    background: url(../../assets/about-background.png) no-repeat;
}
.what-happened {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.what-happened_button {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 33px;
}